html,body {
    margin: 0;
    padding: 0;
}


header {
    background-color: black;
    height: 50px;
}

ul {
    margin: 0;
    margin-right: 20px;
    position: absolute;
    right: 0;
    display: inline-block;
    height: 50px;
}

li {
    display: inline-block;
    text-decoration: none;
    height: 50px;
}

li:hover {
    opacity: 0.5;
}
li:active {
    opacity: 1;
}

li a{
    color: grey;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
}

li a:active {
    color: white;
}

#home {
    background-color: rebeccapurple;
    height: 500px;
}

#brand {
    background-color: blue;
    height: 500px;

}

#tour {
    height: 500px;
    background-color: red;
}

